.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
*.html
analysis/_freeze/*
analysis/figures/*
analysis/render/*
analysis/.quarto/*
figures
qgis-project
*.rds
*.csv
ifna_shiny_app/rsconnect/shinyapps.io/padasch/ifna_shiny_app.dcf
*backgroundjobs*

# Python Stuff
ifna-venv/*
*.feather
*.pyc

# Unwanted files
*.dcf
*.zip
*.tif
*.xml
.vscode/settings.json

# Unwanted folders
python/04_run_ml_models/model_runs